:root {
	--darkgray: #575962;
}

.text-darkgray { color: var(--darkgray); }

.fw {
	&-300 { font-weight: 300; }
	&-400 { font-weight: 400; }
	&-500 { font-weight: 500; }
	&-600 { font-weight: 600; }
	&-700 { font-weight: 700; }
	&-800 { font-weight: 800; }
	&-900 { font-weight: 900; }
}

.fz {
	&-8 { font-size: 8px !important; }
	&-9 { font-size: 9px !important; }
	&-10 { font-size: 10px !important; }
	&-11 { font-size: 11px !important; }
	&-12 { font-size: 12px !important; }
	&-13 { font-size: 13px !important; }
	&-14 { font-size: 14px !important; }
	&-15 { font-size: 15px !important; }
	&-16 { font-size: 16px !important; }
	&-17 { font-size: 17px !important; }
	&-18 { font-size: 18px !important; }
	&-20 { font-size: 20px !important; }
	&-24 { font-size: 24px !important; }
	&-28 { font-size: 28px !important; }
	&-32 { font-size: 32px !important; }
}

.cur {
	&-d { cursor: default; }
	&-a { cursor: auto; }
	&-p { cursor: pointer; }
	&-n { cursor: not-allowed; }
}

.ov {
	&-a { overflow: auto; }
	&-h { overflow: hidden; }
	&-s { overflow: scroll; }
}
.ovx {
	&-a { overflow-x: auto; }
	&-h { overflow-x: hidden; }
	&-s { overflow-x: scroll; }
}
.ovy {
	&-a { overflow-y: auto; }
	&-h { overflow-y: hidden; }
	&-s { overflow-y: scroll; }
}

.opos {
	&-top {
		object-position: top;
	}
	&-bottom {
		object-position: bottom;
	}
}

.row {
	&-2 { margin: 0 -2px; > div { padding: 0 2px; } }
	&-4 { margin: 0 -4px; > div { padding: 0 4px; } }
	&-5 { margin: 0 -5px; > div { padding: 0 5px; } }
	&-8 { margin: 0 -8px; > div { padding: 0 8px; } }
	&-10 { margin: 0 -10px; > div { padding: 0 10px; } }
	&-12 { margin: 0 -12px; > div { padding: 0 12px; } }
	&-15 { margin: 0 -15px; > div { padding: 0 15px; } }
	@media (min-width: 768px) { &-md {
		&-2 { margin: 0 -2px; > div { padding: 0 2px; } }
		&-4 { margin: 0 -4px; > div { padding: 0 4px; } }
		&-5 { margin: 0 -5px; > div { padding: 0 5px; } }
		&-8 { margin: 0 -8px; > div { padding: 0 8px; } }
		&-10 { margin: 0 -10px; > div { padding: 0 10px; } }
		&-12 { margin: 0 -12px; > div { padding: 0 12px; } }
		&-15 { margin: 0 -15px; > div { padding: 0 15px; } }
	} }
	@media (min-width: 992px) { &-lg {
		&-2 { margin: 0 -2px; > div { padding: 0 2px; } }
		&-4 { margin: 0 -4px; > div { padding: 0 4px; } }
		&-5 { margin: 0 -5px; > div { padding: 0 5px; } }
		&-8 { margin: 0 -8px; > div { padding: 0 8px; } }
		&-10 { margin: 0 -10px; > div { padding: 0 10px; } }
		&-12 { margin: 0 -12px; > div { padding: 0 12px; } }
		&-15 { margin: 0 -15px; > div { padding: 0 15px; } }
	} }
}

.hover\:underline:hover {
	text-decoration: underline;
}
